.container {
  height: var(--Content-height);

  display: flex;
  justify-content: center;
  align-items: center;
}
.card {
  border-radius: 0.75vw;
  box-shadow: 0px 0px 15px var(--main-shadow);
  transition: all 0.8s ease;

  display: flex;
  flex-direction: row-reverse;
}
.input {
  margin: 0.5vw 1vw 0 1vw;
  border-radius: 0.5vw;
  border: none;
  box-shadow: 0px 0px 5px var(--main-shadow);
  padding: 0.6vw 0.8vw;
  font-size: 2vh;
  transition: all 0.3s ease;

  &:focus {
    background-color: rgb(220, 233, 233);
    scale: 1.03;
  }
}
.error {
  display: flex;
  padding: 1vh 2vh;

  background-color: var(--error-color);
  font-size: 1.5vh;
  color: rgb(83, 83, 83);
  border-radius: 0.5vw;
  margin: 0 1vw 0 1vw;
}
.title {
  font-weight: bold;
  font-size: 2em;
  color: rgb(0, 45, 74);
  border-radius: 0.5vw;

  margin: 1vh 2vh;
  padding-top: 0.2em;

  background-color: #fff6e9;
  box-shadow: 5px 5px 8px var(--main-shadow);
  scale: 1.03;
}
.logo {
  border-radius: 0 0.75vw 0.75vw 0;
  height: 61vh;
}
.label {
  color: rgb(0, 65, 18);
  font-size: 1.7em;
  font-weight: bold;
  cursor: pointer;
}
.formStyle {
  padding: 2vh;
  background-color: var(--blue-background);
  display: inherit;
  flex-direction: column;
  width: 30vw;
  border-radius: 0.75vw 0 0 0.75vw;
  height: auto;
}
.buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.section {
  display: flex;
  flex-direction: column;
  height: 25%;
}
