@import '../header.css';

.social-networks {
    display: flex;
    margin: auto;
    justify-content: end;
    background-color: var(--top-bar-bgcolor);
    padding-inline-end: 2em;
}
.icon{
    font-size: 2.5em;
    color: var(--icons-color);
    padding-inline: 10px;
}