labremoto/ros_ws/build/
labremoto/ros_ws/install/
labremoto/ros_ws/log/
labremoto/ros_ws/src/pnodos/test/
labremoto/ros_ws/src/pnodos/pnodos/__pycache__/
labremoto/ros_ws/src/pnodos/pnodos/__pycache__/nodefather.cpython-310.pyc
labremoto/.vscode/
labremoto/files/build/
labremoto/files/blink/
labremoto/files/db_develop.db
labremoto/files/comandos.txt
__pycache__/
share/
lib/
bin/
*.cfg
*.test.py
*.vscode
*.db
*.cpython-310.pyc
*.pyc