.card {
  display: flex;
  justify-content: center;
  margin: auto;
  width: 50%;
  padding-inline: 1em;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  padding-bottom: 3em;
}

.columna {
  text-align: left;
  border-style: none;
  border-radius: 1%;
  margin: 1%;
}

.titleCol {
  margin: 2rem;
  color: #1a6874;
  font-weight: bold;
}

.innerCol {
  padding-left: 4%;
  margin-top: 1rem;
}
