.undo-button {
    background-color: #3498db;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease; /* Transición de color al pasar el mouse */
  }
  
.undo-button:hover {
    background-color: #2980b9; /* Color al pasar el mouse */
  }

  .delete-button {
    background-color: #e74c3c;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease; /* Transición de color al pasar el mouse */
  }
  
  .delete-button:hover {
    background-color: #c0392b; /* Color al pasar el mouse */
  }
  
  