.selector-container{
    margin-top: 3em;
}
.boton-continuar{
    margin: auto;
    margin-top: 1em;
    padding: 0.8em;
    width: fit-content;
    align-self: center;
    border-radius: 30%;
    border: 2px solid green;
    background-color: yellowgreen;
    color: green;
    font-weight: bold;
    &:hover{
        background-color: green;
        color: yellow;
        transition: 0.2s;
    }
}