:root{
    --border-table-color: gray;
    --border-table-thick: 2px;
    --border-table-inner-type: dotted;
    --border-table-outer-type: solid;

    --border-table: var(--border-table-thick) var(--border-table-outer-type) var(--border-table-color);
    --border-table-iner: var(--border-table-thick) var(--border-table-inner-type) var(--border-table-color);
}


.vista-container{
    display: block;
    width: 95%;
    margin: auto;

    border: var(--border-table-thick) solid red;
    justify-content: center;
    padding-inline: 2em;
}
.vista-title{
    font-weight: bold;
    border-bottom: var(--border-table-thick) solid brown;
    font-size: 1em;
}
.spacing{
    height: 1em;
}
th{
    color: black;
}
td{
    color: darkgray;
}
table{
    width: 100%;
    margin: auto;
    /*border: var(--border-table);*/
    overflow: hidden;
    font-weight: 100;
    border-collapse: collapse;
    box-shadow: 0 0 20px #0000001a;
}
thead th{
    padding: 0.5em;
    background: #55608f;
    color: white;
}
tbody tr:hover{
    font-weight: 500;
    background: #0000001a;
}
tr > td{
    white-space: nowrap;
    text-overflow: ellipsis;
}
tr :nth-child(2n+1){
    width: 30%;
    border-inline-end: var(--border-table-iner);
    border-block-end: var(--border-table-iner);
}
tr :nth-child(2n){
    width: 25%;
    border-inline-end: var(--border-table-iner);
    border-block-end: var(--border-table-iner);
}
tr :last-child{
    width: 10%;
    border-inline-end: none;
}
tr :last-child div{
    display: flex;
    width: 100%;
    margin: auto;
    justify-content: center;
    border-block-end: none;
}
tr :last-child div div{
    width: 100%;
    margin-inline: 2px;
    justify-content: center;
    border: none;
}
tr td:nth-of-type(3){
    text-decoration: underline;
    color:blue;
    cursor: pointer;
}
.actions div{
    color: black;
    font-weight: bold;
}
.actions :nth-child(1) svg{
    background: red;
}
.actions :nth-child(2) svg{
    background: yellow;
}
.actions :nth-child(3) svg{
    background: greenyellow;
}
.action{
}
.action svg{
    cursor: pointer;
    --icon-size: 24px;
    padding: 4px;
    width: var(--icon-size);
    height: var(--icon-size);
    border-radius: 30%;
    border: none;
    &:hover{
        box-shadow: 0 0 5px #000000aa;
    }
}

