.overlay_modal {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.info_card {
  padding: 1.2vw;
  border-radius: 15px;
  background: rgba(113, 192, 245, 0.8);
  position: relative;
  box-shadow: rgba(100, 100, 111, 0.2) 0 7px 29px 0;
  color: black;
  font-size: 1vw;
  width: 20%;
}

.menutab {
  display: flex;
  margin-inline: auto;
  margin-bottom: 3vh;
  width: 70%;

  background: var(--blue-background);

  padding-block: 2vh;
  border-radius: 15px;

  justify-content: space-around;
}

.selection {
  display: flex;
  margin-inline: auto;
  margin-top: 3vh;
  margin-bottom: 1vh;
  width: 60%;
  font-size: 3.5vh;
  font-weight: bold;
}

.container {
  justify-content: center;
  margin: auto;
  height: var(--Content-height);
  overflow-x: hidden;
  color: var(--main-font-color);
}
