@import '../header.css';

.navbar{
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-color: var(--nav-bg-color);
    justify-content: space-evenly;
    box-shadow: 0 0px 4px 1px rgba(0,0,0,0.4);
}
.navmenu{
    display: flex;
    list-style-type: none;
    background: #f2f2f2;
    font-size: 24px;

    padding-inline: 5rem;
    padding-block: 0.5em;

    border-radius: 50px;
}
.item-menu{
    margin-inline: 0.5em;
    padding-inline: 1em;
    cursor: pointer;
    color: var(--menu-item-color);
    text-decoration: none;
    font-weight: 400;
    overflow: hidden;

    &::first-letter{
        text-transform: uppercase;
    }
}
.sticky{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 50;
    transition: 1s;
}

@keyframes animate1 {
    0%{
        /* left: -10%; */
        opacity: 0;
    }
    50%, 100%{
       /*  left: -0%; */
        opacity: 1;
    }
}

.item-menu span{
    position: relative;
    display: block;
    width: 100%;
    height: 10px;
    top: 0;
    left: 0%;
    background: linear-gradient(90deg, var(--span-bg-color), var(--span-bg-color));

    border-radius: 5px;
    opacity: 0;
}
.item-menu:hover span{
    animation: animate1 1s forwards;
}
.logos-cont{
    display: flex;
    transition: 0.5s;
    &:hover{
        font-size: 1.2em;
        
        transition: 1s;
    }
}
.logos{
    height: 6em;
    width: auto;
    border-radius: 10px;
}
.drop{
    position: relative;
    display: inline-block;
}
.drop:hover{
    overflow: visible;
}
.dropcontent{
    display: none;
    position: absolute;
    transform: translate(-100px);
    top: 0.5em;
    min-width: 160px;
    background-color: var(--bs-gray-500);
    color: var(--menu-item-color);
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.7);
    z-index: 1;
    transition: 0.6s;
    border-radius: 1em;
}
.dropmenu-item{
    border-radius: 2em;
    cursor: pointer;
    transition: 0.6s;
    &:hover{
        background-color: var(--nav-bg-color);
    }
}

.drop:hover .dropcontent{
    display: block;
}