:root{
    /* TOP BAR VARS*/
    --top-bar-bgcolor: cadetblue;
    --icons-color: white;

    /* NAVBAR VARS*/
    --menu-item-color: black;
    --drop-menu: #6c757d;
    --nav-bg-color: #F9F9F4;
    --span-bg-color: #8899bb;
}